<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">Главная страница</a><br>
        <a href="{% url 'about' %}">О нас</a>
    </nav>
    <h1>HELLO!</h1>
    <p>Тестовое задание началось</p>

    <h3>{{ title }}</h3>
    {% for product in products %}
        <h6>Название: {{ product.title }}</h6>
        <h6>Автор: {{ product.autor }}</h6>
        <h6>Стоимость: {{ product.price }} руб.</h6>
    {% endfor %}

    {% for lesson in lessons %}
        <h6>Урок: {{ lesson.title }}</h6>
    {% endfor %}

    {% for group in groups %}
        <h6>Группа: {{ group.title }}</h6>
    {% endfor %}

    {% for student in students %}
        <h6>Студент: {{ student.name }} {{ student.surname }}</h6>
    {% endfor %}
</body>
</html>